<div class="container">
<!--  <div class="footer-left-pic">-->
<!--    <img th:src="@{'/img/footer-left-pic.png'}" alt="">-->
<!--  </div>-->
<!--  <div class="footer-right-pic">-->
<!--    <img th:src="@{'/img/footer-right-pic.png'}" alt="">-->
<!--  </div>-->
  <a href="#" class="footer-logo">
    <img th:src="@{'/../img/logo.png'}" alt="">
  </a>
  <ul class="main-menu footer-menu">
    <li><a th:href="@{'/'}" th:text="#{home}"></a></li>
    <li><a th:href="@{'/allGames/keyword?keyword='}" th:text="#{games}"></a></li>
    <li><a th:href="@{'/allBlogs'}" th:text="#{blogs}"></a></li>
    <li><a th:href="@{'/allNews'}" th:text="#{news}"></a></li>
    <li><a href="" data-bs-toggle="modal" data-bs-target="#feedbackModal" th:text="#{feedback}"></a></li>
  </ul>

  <div class="modal fade" id="feedbackModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-control" th:action="@{'/sendFeedback'}" method="post">
          <div class="modal-header">
            <h5 class="modal-title" th:text="#{sendFeedback}"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <label class="form-label mt-3">
                <span th:text="#{yourNameFeedback} + ':'"></span>
                <input type="text" name="feedbackName" required>
              </label>
              <label class="form-label mt-3">
                <span th:text="#{yourEmailFeedback} + ':'"></span>
                <input type="email" name="feedbackEmail" required>
              </label>
              <label class="form-label mt-3">
                <span th:text="#{subjectFeedback} + ':'"></span>
                <input type="text" name="feedbackSubject" required>
              </label>
              <label class="form-label mt-3">
                <span th:text="#{descriptionFeedback} + ':'"></span>
                <textarea name="feedbackDescription"></textarea>
              </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{closeBtn}"></button>
            <button class="btn btn-primary" th:text="#{sendBtn}"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-social d-flex justify-content-center">
    <a href="https://ru.pinterest.com/"><i class="fa fa-pinterest"></i></a>
    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
    <a href="https://www.twitch.tv/"><i class="fa fa-twitch"></i></a>
    <a href="https://github.com/"><i class="fa fa-github"></i></a>
  </div>
  <div class="copyright"><a th:href="@{'/'}">ENDGAME</a> 2022 @ All rights reserved</div>
</div>