@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.admin-collapse, .admin-collapse button {
    width: 100%;
}

.admin-collapse__show {
    margin-top: 20px;
}

.gameImageAdmin {
    width: 300px;
}

.news-image {
    width: 300px;
}

.add-comment-form {
    width: 50%;
}

.added-comment {
    width: 50%;
    padding: 20px;
    border: 1px solid #c313b7;
    border-radius: 10px;
}

.comment-author-name {
    color: #c313b7;
}

.blog-title {
    color: #56ff00;
}

.blog-game {
    color: #fff;
}

.blog-game span {
    color: #56ff00;
}

.blog-description {
    color: #fff;
}

.user-avatar-img {
    width: 300px;
}

/*SIGN IN*/

.authSection, .profileSection, .adminPanel{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    background-color: #1f2029;
    overflow-x: hidden;
}
.authSection a {
    cursor: pointer;
    transition: all 200ms linear;
}
.authSection a:hover {
    text-decoration: none;
}
.authSection .link {
    color: #c4c3ca;
}
.authSection .link:hover {
    color: #ffeba7;
}
.authSection p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}
.authSection h4 {
    font-weight: 600;
    color: #56ff00;
}
.authSection h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #56ff00;
}
.authSection .section{
    position: relative;
    width: 100%;
    display: block;
}
.authSection .full-height{
    min-height: 100vh;
}
.authSection [type="checkbox"]:checked,
.authSection [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
.authSection .checkbox:checked + label,
.authSection .checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ffeba7;
}
.authSection .checkbox:checked + label:before,
.authSection .checkbox:not(:checked) + label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #ffeba7;
    background-color: #102770;
    font-family: 'unicons';
    content: '\270C';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.authSection .checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}

.authSection .card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 530px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
}
.authSection .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}
.authSection .card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.authSection .card-back {
    transform: rotateY(180deg);
}
.authSection .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}
.authSection .center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}

.authSection .form-group{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
.authSection .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    text-transform: lowercase;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.authSection .form-style:focus,
.authSection .form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.authSection .input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.authSection .form-group input:-ms-input-placeholder  {
    text-transform: lowercase;
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.authSection .form-group input::-moz-placeholder  {
    text-transform: lowercase;
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.authSection .form-group input:-moz-placeholder  {
    text-transform: lowercase;
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.authSection .form-group input::-webkit-input-placeholder  {
    text-transform: lowercase;
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.authSection .form-group input:focus:-ms-input-placeholder  {
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.authSection .form-group input:focus::-moz-placeholder  {
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.authSection .form-group input:focus:-moz-placeholder  {
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.authSection .form-group input:focus::-webkit-input-placeholder  {
    text-transform: lowercase;
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.authSection .btn{
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #0654a5;
    color: #56ff00;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.authSection .btn:active,
.authSection .btn:focus{
    background-color: #c313b7;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.authSection .btn:hover{
    background-color: #c313b7;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(195,19,183, .2);
}

.modal-body {
    font-size: 16px;
    color: #1f2029;
}

.typewriter h1 {
    font-size: 35px;
    color: #fff;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

.localization-img {
    width: 30px;
}

#tinyMceTextarea {
    /*height: 600px;*/
}

.textAreaLabel, .inputDetailsLabel {
    width: 90%;
}

.latestNewsTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 70px;
}

#formAppDescription {
    width: 100%;
    height: 300px;
}

.appFormLabel {
    width: 100%;
}