<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
	<title>EndGame - Gaming Magazine Template</title>
</head>
<body>
	<!-- Page Preloder -->
	<div th:insert="~{/toInsert/preloader.html}">
	</div>

	<!-- Header section -->
	<header th:insert="~{/toInsert/header.html}">
	</header>
	<!-- Header section end -->


	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/1.jpg">
		<div class="page-info">
			<h2>Blogs</h2>
			<div class="site-breadcrumb">
				<a th:href="@{'/'}">Home</a>  /
				<span>Blogs</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->

	<!-- Games section -->
	<section class="games-section">
		<div class="container">
			<div class="row" th:if="${allBlogs != null}">
				<div class="col-xl-7 col-lg-8 col-md-7">
					<div class="row">
						<div class="col-12" th:each="blog : ${allBlogs}">
							<div class="big-blog-item">
								<h5 th:text="${blog.blogCreateDate + ' | ' + blog.blogTitle}"></h5>
								<img class="news-image" th:src="@{'/getGameImage/' + ${blog.getGames().gameImage}}">
								<p th:text="${blog.blogDescription}"></p>
								<p>Game: <span th:text="${blog.getGames().gameName}"></span></p>
								<a th:href="@{'/detailsBlog/' + ${blog.blogId}}" class="read-more">Read More  <img th:src="@{'/img/icons/double-arrow.png'}" /></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
					<div id="stickySidebar">
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">game</h4>
								<ul>
									<li th:each="game : ${allGames}">
										<a th:href="@{'/blogsByGame/' + ${game.gameId}}" th:text="${game.gameName}"></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">platform</h4>
								<ul>
									<li th:each="platform : ${allPlatforms}">
										<a th:href="@{'/blogsByPlatform/' + ${platform.platformId}}" th:text="${platform.platformName}"></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">genre</h4>
								<ul>
									<li th:each="genre : ${allGenres}">
										<a th:href="@{'/blogsByGenre/' + ${genre.genreId}}" th:text="${genre.genreName}"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Games end-->


	<!-- Featured section -->
<!--	<section class="featured-section">-->
<!--		<div class="featured-bg set-bg" data-setbg="img/featured-bg.jpg"></div>-->
<!--		<div class="featured-box">-->
<!--			<div class="text-box">-->
<!--				<div class="top-meta">-->
<!--					<span th:text="${lastNews.newsCreateDate} + '  /  in'"></span>-->
<!--					<a th:href="@{'/allGames'}">Games</a>-->
<!--				</div>-->
<!--				<h3 th:text="${lastNews.newsTitle}"></h3>-->
<!--				<p th:text="${lastNews.newsDescription}"></p>-->
<!--				<a th:href="@{'/detailsNews/' + ${lastNews.newsId}}" class="read-more">Read More <img th:src="@{/img/icons/double-arrow.png}" alt="#"/></a>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->
	<!-- Featured section end-->


	<!-- Newsletter section -->
	<section class="newsletter-section">
		<div class="container">
			<h2>Subscribe to our newsletter</h2>
			<form class="newsletter-form">
				<input type="text" placeholder="ENTER YOUR E-MAIL">
				<button class="site-btn">subscribe  <img src="img/icons/double-arrow.png" alt="#"/></button>
			</form>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!-- Footer section -->
	<footer class="footer-section" th:insert="~{/toInsert/footer.html}">
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<div th:insert="~{/toInsert/scripts.html}"></div>

	</body>
</html>
