<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
	<title>Game Page</title>
</head>
<body>
	<!-- Page Preloder -->
	<div th:insert="~{/toInsert/preloader.html}">
	</div>

	<!-- Header section -->
	<header th:insert="~{/toInsert/header.html}">
	</header>
	<!-- Header section end -->

	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/1.jpg">
		<div class="page-info">
			<h2>Games</h2>
			<div class="site-breadcrumb">
				<a th:href="@{'/'}">Home</a>  /
				<a th:href="@{'/allGames'}">Games</a>	 /
				<span th:text="${game.gameName}"></span>
			</div>
		</div>
	</section>
	<!-- Page top end-->


	<!-- Games section -->
	<section class="games-single-page">
		<div class="container">
			<div class="game-single-preview">
				<img th:src="'/' + ${game.gameImage}" th:alt="${game.gameName}">
			</div>
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
					<h2 class="gs-title" th:text="${game.gameName}"></h2>
					<h4>Об игре</h4>
					<p th:text="${game.gameDescription}"></p>
					<h4>Минимальные требования:</h4>
					<div class="d-flex detailsGameRequirements">
						<p>ОС: </p>
						<span th:text="${game.gameRequirement.getGameRequirementsOS()}"></span>
					</div>
					<div class="d-flex detailsGameRequirements">
						<p>Процессор: <span th:text="${game.gameRequirement.getGameRequirementsCPU()}"></span></p>
					</div>
					<div class="d-flex detailsGameRequirements">
						<p>ОЗУ: <span th:text="${game.gameRequirement.getGameRequirementsMemory()}"></span></p>
					</div>
					<div class="d-flex detailsGameRequirements">
						<p>Видеокарта: <span th:text="${game.gameRequirement.getGameRequirementsGPU()}"></span></p>
					</div>
					<div class="d-flex detailsGameRequirements">
						<p>Жесткий диск: <span th:text="${game.gameRequirement.getGameRequirementsStorage()}"></span></p>
					</div>

					<div class="geme-social-share pt-5 d-flex">
						<p>Share:</p>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
					<div id="stickySidebar">
						<div class="widget-item">
							<div class="rating-widget">
								<h4 class="widget-title">Ratings</h4>
								<ul>
									<li>Price<span>3.5/5</span></li>
									<li>Graphics<span>4.5/5</span></li>
									<li>Levels<span>3.5/5</span></li>
									<li>Levels<span>4.5/5</span></li>
									<li>Dificulty<span>4.5/5</span></li>
								</ul>
								<div class="rating">
									<h5><i>Rating</i><span>4.5</span> / 5</h5>
								</div>
							</div>
						</div>
						<div class="widget-item">
							<div class="testimonials-widget">
								<h4 class="widget-title">Testimonials</h4>
								<div class="testim-text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo re magna aliqua. Quis ipsum suspend isse ultrices.</p>
									<h6><span>James Smith,</span>Gamer</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Games end-->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="footer-left-pic">
				<img src="img/footer-left-pic.png" alt="">
			</div>
			<div class="footer-right-pic">
				<img src="img/footer-right-pic.png" alt="">
			</div>
			<a href="#" class="footer-logo">
				<img src="./img/logo.png" alt="">
			</a>
			<ul class="main-menu footer-menu">
				<li><a href="">Home</a></li>
				<li><a href="">Games</a></li>
				<li><a href="">Reviews</a></li>
				<li><a href="">News</a></li>
				<li><a href="">Contact</a></li>
			</ul>
			<div class="footer-social d-flex justify-content-center">
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-behance"></i></a>
			</div>
			<div class="copyright"><a href="">Colorlib</a> 2018 @ All rights reserved</div>
		</div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<div th:insert="~{/toInsert/scripts.html}"></div>

	</body>
</html>
