<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
	<title>EndGame - Gaming Magazine Template</title>
</head>
<body>
	<!-- Page Preloder -->
	<div th:insert="~{/toInsert/preloader.html}">
	</div>

	<!-- Header section -->
	<header th:insert="~{/toInsert/header.html}">
	</header>
	<!-- Header section end -->


	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/1.jpg">
		<div class="page-info">
			<h2>Games</h2>
			<div class="site-breadcrumb">
				<a th:href="@{'/'}">Home</a>  /
				<span>Games</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->




	<!-- Games section -->
	<section class="games-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-8 col-md-7">
					<div class="row">
						<div class="col-lg-4 col-md-6" th:each="game : ${allGamesByGenre}">
							<div class="game-item">
								<img th:src="'/' + ${game.gameImage}" alt="#">
								<h5 th:text="${game.gameName}"></h5>
								<p>Age restriction: <span class="age-limit" th:text="${game.gameAge} + '+'"></span></p>
								<a th:href="@{'/detailsGame/' + ${game.gameId}}" class="read-more">Read More  <img th:src="@{'/img/icons/double-arrow.png'}" th:alt="${game.gameName}"/></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sidebar">
					<div id="stickySidebar">
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">platform</h4>
								<ul>
									<li th:each="platform : ${allPlatforms}">
										<a th:href="@{'/gamesByPlatform/' + ${platform.platformId}}" th:text="${platform.platformName}"></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">Genre</h4>
								<ul>
									<li th:each="genre : ${allGenres}">
										<a th:class="${genre.genreId == selectedGenreId} ? 'disabled' : ''" th:href="@{'/gamesByGenre/' + ${genre.genreId}}" th:text="${genre.genreName}"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Games end-->


	<!-- Featured section -->
	<section class="featured-section">
		<div class="featured-bg set-bg" data-setbg="img/featured-bg.jpg"></div>
		<div class="featured-box">
			<div class="text-box">
				<div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
				<h3>The game you’ve been waiting  for is out now</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum posuere porttitor justo id pellentesque. Proin id lacus feugiat, posuere erat sit amet, commodo ipsum. Donec pellentesque vestibulum metus...</p>
				<a href="#" class="read-more">Read More <img src="img/icons/double-arrow.png" alt="#"/></a>
			</div>
		</div>
	</section>
	<!-- Featured section end-->


	<!-- Newsletter section -->
	<section class="newsletter-section">
		<div class="container">
			<h2>Subscribe to our newsletter</h2>
			<form class="newsletter-form">
				<input type="text" placeholder="ENTER YOUR E-MAIL">
				<button class="site-btn">subscribe  <img src="img/icons/double-arrow.png" alt="#"/></button>
			</form>
		</div>
	</section>
	<!-- Newsletter section end -->


	<!-- Footer section -->
	<footer class="footer-section" th:insert="~{/toInsert/footer.html}">
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<div th:insert="~{/toInsert/scripts.html}"></div>

	</body>
</html>
