<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
	<title>EndGame - Gaming Magazine Template</title>
</head>
<body onload="getAllGames(); getLast3Blogs(); getTop5Games()">

	<div th:insert="~{/toInsert/preloader.html}"></div>

	<!-- Header section -->
	<header th:insert="~{/toInsert/header.html}">
	</header>
	<!-- Header section end -->

	<!-- Latest News -->
	<section class="hero-section overflow-hidden">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" th:each="news : ${last3News}" th:data-setbg="'img/slider-bg-' + ${newsStat.index + '.jpg'}">
				<div class="container">
					<h2 th:text="${news.newsTitle}"></h2>
					<p th:text="${news.newsDescription}"></p>
					<a th:href="@{'/detailsNews/' + ${news.newsId}}" class="site-btn">Read More  <img th:src="@{'/img/icons/double-arrow.png'}" th:alt="${news.newsTitle}" /></a>
				</div>
			</div>
		</div>
	</section>
	<!-- Latest News end-->

	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-7">
					<div class="section-title text-white">
						<h2>Latest Blogs</h2>
					</div>
					<ul class="blog-filter">
					</ul>
					<div class="container d-flex flex-column last3Blogs">
						<!-- Blog item -->
					</div>

				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar">
					<div id="stickySidebar">
						<div class="widget-item">
							<h4 class="widget-title">Trending</h4>
							<div class="trending-widget">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

	<!-- Footer section -->
	<footer class="footer-section" th:insert="~{/toInsert/footer.html}">
	</footer>
	<!-- Footer section end -->

	<script>

		function getAllGames() {
			const result = new XMLHttpRequest(); // формируем запрос
			result.open("GET", "http://localhost:8000/games") // вид запроса и куда отправляем
			result.send();
			result.onload = function () {
				let allGames = JSON.parse(this.responseText);
				let content = "";
				for (i = 0; i < allGames.length; i++) {
					content += "<li>";
					content += "<a href='/blogsByGame/" + allGames[i].gameId + "'>" + allGames[i].gameName + "</a>";
					content += "</li>";
				}
				document.querySelector(".blog-filter").innerHTML = content;
			}
		}

		function getLast3Blogs() {
			const result = new XMLHttpRequest();
			result.open("GET", "http://localhost:8000/blogs/last3Blogs");
			result.send();
			result.onload = function () {
				let last3Blogs = JSON.parse(this.responseText);
				let content = "";
				for (i = 0; i < last3Blogs.length; i++) {
					content += "<div class='blog-item'>"
					content += "<div class='blog-thumb'>";
					content += "<img src='/getBlogImage/" + last3Blogs[i].blogImage + "' alt='" + last3Blogs[i].blogTitle + "'>";
					content += "</div>";
					content += "<div class='blog-text text-box text-white'>";
					content += "<div class='top-meta'>";
					content += "<span>" + last3Blogs[i].blogCreateDate + "&nbsp;&nbsp;/&nbsp;&nbsp;in&nbsp;&nbsp;</span>";
					content += "<a href='/allGames'>Games</a>";
					content += "</div>";
					content += "<h3>" + last3Blogs[i].blogTitle + "</h3>";
					content += "<p>" + last3Blogs[i].blogDescription + "</p>";
					content += "<a href='/detailsBlog/" + last3Blogs[i].blogId + "' class='read-more'>Read More <img src='/img/icons/double-arrow.png' alt='double arrow'/></a>";
					content += "</div>";
					content += "</div>";
				}
				document.querySelector(".last3Blogs").innerHTML = content;
			}
		}

		function getTop5Games() {
			const result = new XMLHttpRequest();
			result.open("GET", "http://localhost:8000/games/top5Games");
			result.send();
			result.onload = function () {
				let top5Games = JSON.parse(this.responseText);
				let content = "";
				for (i = 0; i < top5Games.length; i++) {
					content += "<div class='tw-item'>";
					content += "<div class='tw-thumb'>";
					content += "<img src='/getGameImage/" + top5Games[i].gameImage + "' alt='#'>";
					content += "</div>";
					content += "<div class='tw-text'>";
					content += "<div class='tw-meta'>";
					content += "<a href='/detailsGame/" + top5Games[i].gameId + "'>" + top5Games[i].gameName + "</a>";
					content += "</div>";
					content += "<div class='d-flex'>";
					content += "<span>Рейтинг игры:&nbsp;&nbsp;</span>";
					content += "<span class='tw-text__rating'>" + top5Games[i].gameRatings.gameRatingAvg + "</span>";
					content += "<span>&nbsp;&nbsp;/&nbsp;&nbsp;5</span>";
					content += "</div>";
					content += "</div>";
					content += "</div>";
				}
				document.querySelector(".trending-widget").innerHTML = content;
			}
		}
	</script>

	<div th:insert="~{/toInsert/scripts.html}"></div>
	</body>
</html>
