<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
    <title>Profile Page</title>
</head>
<body>

    <div th:insert="~{/toInsert/preloader.html}"></div>

    <header class="header" th:insert="~{/toInsert/header.html}"></header>

    <main class="main">
        <section class="profileSection pb-xxl-5">
            <div class="container mt-3">
                <div class="alert alert-success" role="alert" th:if="${param.successSwapAvatar}">
                    Avatar successfully replaced!
                </div>
                <div class="alert alert-danger" role="alert" th:if="${param.errorSwapAvatar}">
                    Failed to update avatar. Try to choose a different image!
                </div>
                <div class="alert alert-success" role="alert" th:if="${param.success}">
                    Profile was edited successfully!
                </div>
                <div class="alert alert-danger" role="alert" th:if="${param.newPasswordsNotSame}">
                    Passwords are not same!
                </div>
                <div class="alert alert-danger" role="alert" th:if="${param.oldPasswordNotSameCurrentPassword}">
                    The old password does not match the current password!
                </div>
                <div class="mx-auto">
                    <div class="typewriter">
                        <h1 class="mb-3 text-center text-white" th:text="'Whats up?, ' + ${currentUser.userFirstName} + ' ' + ${currentUser.userSurname}"></h1>
                    </div>
                </div>
                <form class="col-6" th:action="@{'/swapUserAvatar'}" method="post" enctype="multipart/form-data">
                    <div class="mt-3">
                        <label>Avatar: <br>
                            <input class="form-control" type="file" name="userImageToken">
                        </label>
                        <button class="btn btn-primary mx-lg-3">Swap avatar</button>
                    </div>
                </form>
                <form class="col-6" th:action="@{'/editUser'}" method="post">
                    <input type="hidden" name="userId" th:value="${currentUser.userId}">
                    <input type="hidden" name="userEmail" th:value="${currentUser.userEmail}">
                    <div class="mt-3">
                        <img class="user-avatar-img" th:src="@{'/getUserImage/' + ${currentUser.getUserAvatar()}}">
                    </div>
                    <div class="mt-3">
                        <label>Name:
                            <input type="text" class="form-control" name="userFirstName" th:placeholder="${currentUser.userFirstName}" required>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>Surname:
                            <input type="text" class="form-control" name="userSurname" th:placeholder="${currentUser.userSurname}">
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>Birthdate:
                            <input type="date" class="form-control" name="birthDate" th:value="${currentUser.userBirthdate}">
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>Old Password:
                            <input type="password" name="oldPassword" class="form-control">
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>New Password:
                            <input type="password" name="userPassword" class="form-control">
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>Repeat new password:
                            <input type="password" name="reNewPassword" class="form-control">
                        </label>
                    </div>
                    <button class="btn btn-primary mt-3">Edit user</button>
                    <a th:href="@{'/signOut'}" class="btn btn-danger mt-3">Logout</a>
                </form>

                <div class="mt-3" sec:authorize="!hasRole('ROLE_BLOGGER')">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#applicationFormBlogger" aria-expanded="false">
                        Application for blogger's role
                    </button>
                </div>
                <div class="collapse mb-lg-5" id="applicationFormBlogger">
                    <div class="card card-body">
                        <form class="form-control" th:action="@{'/applicationFormBlogger'}" method="post">
                            <label class="mt-3">
                                Description: <br>
                                <textarea name="applicationFormBloggerDescription" id="tinyMceTextarea"></textarea>
                            </label>
                            <button class="btn btn-primary mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div th:insert="~{/toInsert/scripts.html}"></div>
    <script>
        $(document).ready(() => {
            let typingElement = $('.typing');

            typingElement.on('click', (e) => {
                typingElement.removeClass('animate');
                setTimeout(() => typingElement.addClass('animate'), 1);
            })
        });
    </script>
</body>
</html>