<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
    <title>Admin Panel</title>
</head>
<body>

    <div th:insert="~{/toInsert/preloader.html}"></div>

    <!-- Header section -->
    <header th:insert="~{/toInsert/header.html}">
    </header>
    <!-- Header section end -->

    <main class="d-flex flex-column profileSection">
        <div class="container mt-3">
            <div>
                <div class="alert alert-success" role="alert" th:if="${param.success}" th:text="#{successEditBlog}">

                </div>
                <div class="alert alert-primary" role="alert" th:if="${param.errorEditBlog}" th:text="#{errorEditBlog}">

                </div>
                <form class="mb-5" th:action="@{'/editBlogAdmin'}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="blogId" th:value="${blog.blogId}">
                    <div class="mt-3">
                        <label class="inputDetailsLabel">
                            <span th:text="#{title} + ':'"></span>
                            <input type="text" class="form-control" name="blogTitle" th:value="${blog.blogTitle}" th:placeholder="${blog.blogTitle}" required>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label class="textAreaLabel">
                            <span th:text="#{descriptionFeedback} + ':'"></span>
                            <textarea id="tinyMceTextarea" class="form-control" name="blogDescription" th:text="${blog.blogDescription}"></textarea>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>
                            <span th:text="#{createDate} + ':'"></span>
                            <input type="date" class="form-control" name="createDate" th:value="${blog.blogCreateDate}" readonly>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>
                            <span th:text="#{updateDate} + ':'"></span>
                            <input type="date" class="form-control" name="updateDate" th:value="${blog.blogUpdateDate}" readonly>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label class="form-label">
                            <span th:text="#{image} + ':'"></span> <br>
                            <img class="img-thumbnail gameImageAdmin" th:src="@{'/getBlogImage/' + ${blog.blogImage}}">
                            <input type="hidden" name="blogImage" th:value="${blog.blogImage}">
                            <input class="form-control mt-3" type="file" name="blogImageToken">
                        </label>
                    </div>
                    <div class="mt-3">
                        <select class="form-select mt-3" name="games">
                            <option th:each="game : ${allGames}" th:text="${game.gameName}" th:value="${game.gameId}" th:selected="${game.gameId == blog.getGames().getGameId()}"></option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label class="form-label">
                            <span th:text="#{author} + ':'"></span>
                            <span th:text="${blog.getUsers().getUserFirstName() + ' ' + blog.getUsers().getUserSurname()}"></span>
                            <input class="form-control" type="hidden" name="users" th:value="${blog.getUsers().getUserId()}">
                        </label>
                    </div>
                    <div class="mt-3">
                        <select class="form-select mt-3" name="blogStatus">
                            <option th:each="status : ${blogStatusList}" th:text="${status.blogStatusName}" th:value="${status.blogStatusId}" th:selected="${status.blogStatusId == blog.getBlogStatus().blogStatusId}"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary mt-3" th:text="#{editBlog}"></button>
                    <button type='button' class='btn btn-danger mt-3' data-bs-toggle='modal' data-bs-target='#deleteBlogAdmin' th:text="#{deleteBtn}"></button>
                </form>
                <div class="modal fade" id="deleteBlogAdmin" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <form th:action="@{'/deleteBlogAdmin'}" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:text="#{deleteBlog}"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <span th:text="#{deleteBlogBody}"></span>
                                    <input type="hidden" name="blogId" th:value="${blog.blogId}" id="blogId">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{closeBtn}"></button>
                                    <button class="btn btn-danger" th:text="#{deleteBlog}"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer section -->
    <footer class="footer-section" th:insert="~{/toInsert/footer.html}">
    </footer>
    <!-- Footer section end -->

    <div th:insert="~{/toInsert/scripts.html}"></div>
</body>
</html>
