<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
    <title>Admin Panel</title>
</head>
<body>

    <div th:insert="~{/toInsert/preloader.html}"></div>

    <!-- Header section -->
    <header th:insert="~{/toInsert/header.html}">
    </header>
    <!-- Header section end -->

    <main class="d-flex flex-column profileSection">
        <div class="container mt-3">
            <div>
                <div class="alert alert-success" role="alert" th:if="${param.success}" th:text="#{successEditFeedback}">

                </div>
                <div class="alert alert-primary" role="alert" th:if="${param.errorEditFeedback}" th:text="#{errorEditFeedback}">

                </div>
                <form class="mb-5" th:action="@{'/editFeedback'}" method="post">
                    <input type="hidden" name="feedbackId" th:value="${feedback.feedbackId}">
                    <div class="mt-3">
                        <label class="inputDetailsLabel">
                            <span th:text="#{nameProfile} + ':'"></span>
                            <input type="text" class="form-control" name="feedbackName" th:value="${feedback.feedbackName}" readonly>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>
                            <span th:text="#{email} + ':'"></span>
                            <input type="email" class="form-control" name="feedbackEmail" th:value="${feedback.feedbackEmail}" readonly>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label class="inputDetailsLabel">
                            <span th:text="#{subjectFeedback} + ':'"></span>
                            <input type="text" class="form-control" name="feedbackSubject" th:value="${feedback.feedbackSubject}" readonly>
                        </label>
                    </div>
                    <div class="mt-3">
                        <labe class="textAreaLabel">
                            <span th:text="#{descriptionFeedback} + ':'"></span>
                            <textarea class="form-control" name="feedbackDescription" th:text="${feedback.feedbackDescription}" readonly></textarea>
                        </label>
                    </div>
                    <div class="mt-3">
                        <input type="text" class="form-control" th:value="${feedback.getFeedbackStatus().feedbackStatus}" th:if="${!canUpdateFeedback}"
                               th:style="'color: ' + ${feedback.getFeedbackStatus().getFeedbackStatusColor()}"
                               readonly>
                        <select class="form-select mt-3" name="feedbackStatus" th:if="${canUpdateFeedback}">
                            <option th:each="feedbackStatus : ${allFeedbackStatus}" th:text="${feedbackStatus.feedbackStatus}" th:value="${feedbackStatus.feedbackStatusId}"
                                    th:selected="${feedbackStatus.feedbackStatusId == feedback.getFeedbackStatus().getFeedbackStatusId()}"
                                    th:style="'color: ' + ${feedbackStatus.feedbackStatusColor}"></option>
                        </select>
                    </div>
                    <button class="btn btn-primary mt-3" th:if="${canUpdateFeedback}" th:text="#{processFeedback}"></button>
                </form>
            </div>

        </div>

    </main>

    <!-- Footer section -->
    <footer class="footer-section" th:insert="~{/toInsert/footer.html}">
    </footer>
    <!-- Footer section end -->

    <div th:insert="~{/toInsert/scripts.html}"></div>
</body>
</html>
