<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
    <title>Admin Panel</title>
</head>
<body>

    <div th:insert="~{/toInsert/preloader.html}"></div>

    <!-- Header section -->
    <header th:insert="~{/toInsert/header.html}">
    </header>
    <!-- Header section end -->

    <main class="d-flex flex-column profileSection">
        <div class="container mt-3">
            <div>
                <div class="alert alert-success" role="alert" th:if="${param.success}" th:text="#{successNewsAdd}">

                </div>
                <div class="alert alert-primary" role="alert" th:if="${param.errorEditNews}" th:text="#{errorEditNews}">

                </div>
                <form class="mb-5" th:action="@{'/editNews'}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="newsId" th:value="${news.newsId}">
                    <div class="mt-3">
                        <label class="inputDetailsLabel">
                            <span th:text="#{title} + ':'"></span>
                            <input type="text" class="form-control" name="newsTitle" th:value="${news.newsTitle}" th:placeholder="${news.newsTitle}" required>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label class="textAreaLabel">
                            <span th:text="#{descriptionFeedback} + ':'"></span>
                            <textarea cols="10" id="tinyMceTextarea" class="form-control" name="newsDescription" th:text="${news.newsDescription}"></textarea>
                        </label>
                    </div>
                    <div class="mt-3">
                        <label>
                            <span th:text="#{createDate} + ':'"></span>
                            <input type="date" class="form-control" name="createNews" th:value="${news.newsCreateDate}" required>
                        </label>
                    </div>
                    <div class="mt-3">
                        <select class="form-select mt-3" name="game">
                            <option th:each="game : ${allGames}" th:text="${game.gameName}" th:value="${game.gameId}" th:selected="${game.gameId == news.getGame().gameId}"></option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label class="form-label">
                            <span th:text="#{author} + ':'"></span>
                            <span th:text="${news.getAuthor().getUserFirstName() + ' ' + news.getAuthor().getUserSurname()}"></span>
                            <input class="form-control" type="hidden" name="author" th:value="${news.getAuthor().getUserId()}">
                        </label>
                    </div>
                    <button class="btn btn-primary mt-3" th:text="#{editNews}"></button>
                </form>
            </div>

        </div>

    </main>

    <!-- Footer section -->
    <footer class="footer-section" th:insert="~{/toInsert/footer.html}">
    </footer>
    <!-- Footer section end -->

    <div th:insert="~{/toInsert/scripts.html}"></div>
</body>
</html>
