<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="~{/toInsert/head.html}">
    <title>Admin Panel</title>
</head>
<body onload="getFeedback()">

    <div th:insert="~{/toInsert/preloader.html}"></div>

    <!-- Header section -->
    <header th:insert="~{/toInsert/header.html}">
    </header>
    <!-- Header section end -->

    <main class="d-flex flex-column profileSection">
        <div class="container mt-3">
            <div class="alert alert-success" role="alert" th:if="${param.success}" th:text="#{successEditFeedback}">

            </div>
            <div class="alert alert-primary" role="alert" th:if="${param.errorEditFeedback}" th:text="#{errorEditFeedback}">

            </div>
            <div class="feedbackInfo">
            </div>

        </div>

    </main>

    <!-- Footer section -->
    <footer class="footer-section" th:insert="~{/toInsert/footer.html}">
    </footer>
    <!-- Footer section end -->

    <div th:insert="~{/toInsert/scripts.html}"></div>

    <script>
        function getFeedback() {
            const res = new XMLHttpRequest()
            let feedbackId = document.location.href.split("/").pop()
            res.open("GET", "http://localhost:8000/feedback/" + feedbackId)
            res.send()
            res.onload = function () {
                let feedback = JSON.parse(this.responseText)
                const resStatus = new XMLHttpRequest()
                resStatus.open("GET", "http://localhost:8000/feedbackStatus")
                resStatus.send()
                resStatus.onload = function () {
                    let allStatus = JSON.parse(resStatus.responseText)
                    let content = ""
                    content += "                <form class=\"mb-5\" action=\"/editFeedback\" method=\"post\">\n" +
                        "                    <input type=\"hidden\" name=\"feedbackId\" value=\"" + feedback.feedbackId + "\">\n" +
                        "                    <div class=\"mt-3\">\n" +
                        "                        <label class=\"inputDetailsLabel\">\n" +
                        "                            <span class='detailsAdminSpan'>[[#{nameProfile}]]:</span>\n" +
                        "                            <input type=\"text\" class=\"form-control\" name=\"feedbackName\" value=\"" + feedback.feedbackName + "\" readonly>\n" +
                        "                        </label>\n" +
                        "                    </div>\n" +
                        "                    <div class=\"mt-3\">\n" +
                        "                        <label>\n" +
                        "                            <span class='detailsAdminSpan'>[[#{email}]]:</span>\n" +
                        "                            <input type=\"email\" class=\"form-control\" name=\"feedbackEmail\" value=\"" + feedback.feedbackEmail + "\" readonly>\n" +
                        "                        </label>\n" +
                        "                    </div>\n" +
                        "                    <div class=\"mt-3\">\n" +
                        "                        <label class=\"inputDetailsLabel\">\n" +
                        "                            <span class='detailsAdminSpan'>[[#{subjectFeedback}]]:</span>\n" +
                        "                            <input type=\"text\" class=\"form-control\" name=\"feedbackSubject\" value=\"" + feedback.feedbackSubject + "\" readonly>\n" +
                        "                        </label>\n" +
                        "                    </div>\n" +
                        "                    <div class=\"mt-3\">\n" +
                        "                        <labe class=\"textAreaLabel\">\n" +
                        "                            <span class='detailsAdminSpan'>[[#{descriptionFeedback}]]:</span>\n" +
                        "                            <textarea rows='10' class=\"form-control\" name=\"feedbackDescription\" readonly>" + feedback.feedbackDescription + "</textarea>\n" +
                        "                        </label>\n" +
                        "                    </div>\n" +
                        "                    <div class=\"mt-3\">\n"
                        if ([[${!canUpdateFeedback}]]) {
                            content += "                        <input type=\"text\" class=\"form-control\" value=\"" + feedback.feedbackStatus.feedbackStatus + "\"" +
                            "                               style=\"color: " + feedback.feedbackStatus.feedbackStatusColor + "\"\n" +
                            "                               readonly>\n"
                        } else {
                            content += "                        <select class=\"form-select mt-3\" name=\"feedbackStatus\">\n"
                            for (i = 0; i < allStatus.length; i++) {
                                if (allStatus[i].feedbackStatusId == feedback.feedbackStatus.feedbackStatusId) {
                                    content += "                            <option value=\"" + allStatus[i].feedbackStatusId + "\"\n" +
                                    "                                    selected style=\"color: " + allStatus[i].feedbackStatusColor + "\">" + allStatus[i].feedbackStatus + "</option>\n"
                                } else {
                                    content += "                            <option value=\"" + allStatus[i].feedbackStatusId + "\"\n" +
                                    "                                    style=\"color: " + allStatus[i].feedbackStatusColor + "\">" + allStatus[i].feedbackStatus + "</option>\n"
                                }
                            }
                            content += "                        </select>\n"

                        }
                        content += "                    </div>\n"
                        if ([[${canUpdateFeedback}]]) {
                            content += "                    <button class=\"btn btn-primary mt-3\">[[#{processFeedback}]]</button>\n"
                        }
                        content += "                </form>\n"
                    document.querySelector(".feedbackInfo").innerHTML = content
                }
            }
        }
    </script>
</body>
</html>
